# Q1

Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [7]:
import selenium
from selenium import webdriver
import pandas as pd
import os
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys
import requests
from time import sleep
import time

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Import warning and ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [8]:
# Activating the chrome browser
driver=webdriver.Chrome('chromedriver.exe')

In [9]:
url='https://en.wikipedia.org/'
#This opens the wikipedia.org url automatically in the Chrome and will maximise the window
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [10]:
driver.find_element_by_id('searchInput').send_keys('List of most-viewed YouTube videos')

In [11]:
driver.find_element_by_xpath("//input[@class='searchButton']").click()

In [12]:
#Create empty lists
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

# Extracting Rank from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[1]'):
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")


# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[2]'):
        name.append(i.text)
except NoSuchElementException:
    name.append("-")
    

# Extracting Artist from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[3]'):
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")


# Extract the Upload date from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[4]'):
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append("-")
    
    
# Extracting Views from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="mw-parser-output"]/table[3]/tbody/tr/td[5]'):
        views.append(i.text)
except NoSuchElementException:
    views.append("-")
    
df=pd.DataFrame({                
                'Rank':rank,
                'Name':name,
                'Artist':artist,
                'Upload date':upload_date,
                'Availability':views
                })
df

,Rank,Name,Artist,Upload date,Availability
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.30,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.77,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.22,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.64,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.44,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.08,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.56,"February 27, 2018"
7,8.,"""Phonics Song with Two Words""[22]",ChuChu TV,4.50,"March 6, 2014"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.49,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.36,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[30]",El Chombo,3.88,"April 5, 2018"
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,3.77,"May 24, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.66,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.54,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.52,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.52,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.42,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.26,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.25,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.24,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.23,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.19,"July 25, 2012"
23,24.,"""Bailando""[42]",Enrique Iglesias,3.17,"April 11, 2014"
24,25.,"""Lean On""[43]",Major Lazer,3.17,"March 22, 2015"
25,26.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,3.16,"June 25, 2018"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.15,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.11,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.08,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.05,"June 29, 2017"

In [13]:
#CLose the driver
driver.close()

# Q2
Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
    
You need to find following details:
- A) Match title (i.e. 1st ODI)
- B) Series
- C) Place
- D) Date
- E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [14]:
# Activating the chrome browser
driver = webdriver.Chrome('chromedriver.exe')

# Open the homepage of bcci.
driver.get('https://www.bcci.tv/')

# Maximize the window
driver.maximize_window()

In [15]:
international_Page=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
international_Page.click()

In [16]:
#Make empty lists
match_title=[]
series=[]
date=[]
time=[]
place=[]


# Extracting Time from xpath    
try:
    times=driver.find_elements_by_xpath('//*[@id="fixtures"]//div/div[1]/div/div[2]/h5')
    for i in times:
        time.append(i.text)
except NoSuchElementException:
    time.append("-")

In [17]:
time

['6:30 AM IST',
 '6:30 AM IST',
 '6:30 AM IST',
 '6:30 AM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST']

In [18]:
URL=[]
for i in driver.find_elements_by_xpath('//a[@class="match-center-btn ng-scope"]'):
    URL.append(i.get_attribute('href'))

In [19]:
URL

['https://www.bcci.tv/events/59/icc-womens-world-cup-2022/match/452/-',
 'https://www.bcci.tv/events/59/icc-womens-world-cup-2022/match/453/-',
 'https://www.bcci.tv/events/59/icc-womens-world-cup-2022/match/454/-',
 'https://www.bcci.tv/events/59/icc-womens-world-cup-2022/match/455/-',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/427/1st-t20i',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/428/2nd-t20i',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/429/3rd-t20i',
 'https://www.bcci.tv/events/54/south-africa-tour-of-india-t20-series-2022/match/430/4th-t20i']

In [20]:
# Scrap the data from each url
for i in URL:
    # Load the webpage by url 
    driver.get(i)
    sleep(1)
        
    # Extracting series from xpath
    try:
        series_=driver.find_element_by_xpath('//*[@id="scoreBox"]/div[1]/div/div[1]/div[1]')
        series.append(series_.text)
    except NoSuchElementException:
        series.append("-")
        
    # Extracting places from xpath    
    try:
        places=driver.find_element_by_xpath('//*[@id="scoreBox"]/div[1]/div/div[2]/div[3]/div[3]/span[3]')
        place.append(places.text)
    except NoSuchElementException:
        place.append("-")
        
    # Extracting Date from xpath
    try:
        dates=driver.find_element_by_xpath('//*[@id="scoreBox"]/div[1]/div/div[2]/div[3]/div[2]')
        date.append(dates.text)
    except NoSuchElementException:
        date.append("-")

In [21]:
getTitleOfMatch=[]
for u in URL:
    title=u.split("/",1)[1].split("/",1)[1].split("/",1)[1].split("/",1)[1].split("/",1)[1].split("/",1)[1].split("/",1)[1].split("/",1)[1]
    getTitleOfMatch.append(title)
getTitleOfMatch

['-', '-', '-', '-', '1st-t20i', '2nd-t20i', '3rd-t20i', '4th-t20i']

In [22]:
df=pd.DataFrame({'Match Title':getTitleOfMatch,
                'Series':series,
                 'Place':place,
                 'Date':date,
                 'Time':time                
                })
df

,Match Title,Series,Place,Date,Time
0,-,ICC WOMENS WORLD CUP 2022,MOUNT MAUNGANUI,16 MAR 2022,6:30 AM IST
1,-,ICC WOMENS WORLD CUP 2022,AUCKLAND,19 MAR 2022,6:30 AM IST
2,-,ICC WOMENS WORLD CUP 2022,HAMILTON,22 MAR 2022,6:30 AM IST
3,-,ICC WOMENS WORLD CUP 2022,CHRISTCHURCH,28 MAR 2022,6:30 AM IST
4,1st-t20i,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,CHENNAI,9 JUN 2022,7:30 PM IST
5,2nd-t20i,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,BENGALURU,12 JUN 2022,7:30 PM IST
6,3rd-t20i,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,NAGPUR,14 JUN 2022,7:30 PM IST
7,4th-t20i,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,RAJKOT,17 JUN 2022,7:30 PM IST

In [23]:
#Close the driver
driver.close()

# Q3 Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
    
You need to find following details:

- A) Name
- B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [25]:
# Activate the chrome browser
driver = webdriver.Chrome('chromedriver.exe')

# Opening the homepage of guru99.
driver.get('https://www.guru99.com/')

# Maximize the window
driver.maximize_window()

In [26]:
driver.find_element_by_xpath('//div[@class="row featured-boxes"]/div/div/ul[1]/li[3]/a').click() #Find Selenium and click on it

In [27]:
findExceptionLink=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
findExceptionLink.click() #Click on to get into the Selenium Exception Handling Page Link

In [28]:
#Make empty lists
name=[]
description=[]


# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]'):
        name.append(i.text)
except NoSuchElementException:
    name.append("-")
    
    
# Extracting Description from xpath
try:
    for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]'):
        description.append(i.text)
except NoSuchElementException:
    description.append("-")
    
#Create Dataframe
df= pd.DataFrame({'Name':name,'Desription':description})
df

,Name,Desription
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [29]:
# Close current Browser
driver.close()

# Q4 Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

- A) Rank
- B) State
- C) GSDP
- D) GSDP
- E) Share
- F) GDP($ billion)
- <strong>Note:</strong> - From statisticstimes home page you have to reach to economy page through code.

In [31]:
# Activate the chrome browser
driver = webdriver.Chrome('chromedriver.exe')

# Open the homepage of statisticstimes
driver.get('http://statisticstimes.com/')

# Maximize the window
driver.maximize_window()

In [32]:
#find the country's statistics
indiaStatistics=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').get_attribute('href')
driver.get(indiaStatistics) #append Indian Statistics

#https://www.statisticstimes.com/economy/india-statistics.php

In [33]:
# Find the State's statistics
indianStates=driver.find_element_by_xpath('//div[@style="float:left;background-color:seashell;width:400px;height:800px;"]/ul/li[1]/a').get_attribute('href')
driver.get(indianStates) #append Indian States

#https://www.statisticstimes.com/economy/india/indian-states-gdp.php

In [34]:
rank=[]
state=[]
GSDP_current_19_20=[]
GSDP_current_18_19=[]
share=[]
GDP_billion=[]

# Extracting Rank from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[1]"):
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")

# Extracting State from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[2]"):
        state.append(i.text)
except NoSuchElementException:
    state.append("-")

    
# Extracting GSDP_current_19_20 from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[3]"):
        GSDP_current_19_20.append(i.text)
except NoSuchElementException:
    GSDP_current_18_19.append("-")


# Extracting GSDP_current_18_19 from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[4]"):
        GSDP_current_18_19.append(i.text)
except NoSuchElementException:
    GSDP_current_18_19.append("-")
    
# Extracting Share_18_19 from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[5]"):
        share.append(i.text)
except NoSuchElementException:
    share.append("-")


# Extracting GDP_billion from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@id='header']/div[2]/div[5]/div/div/table/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("-")

In [35]:
df=pd.DataFrame({'Rank':rank,
                'State':state,
                'GSDP_Current_19_20':GSDP_current_19_20,
                'GSDP_Current_18_19':GSDP_current_18_19,
                'Share':share,
                 'GDP($ billion)':GDP_billion
                })
df

,Rank,State,GSDP_Current_19_20,GSDP_Current_18_19,Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [36]:
driver.close()

# Q5 Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used

In [37]:
# Activate the Chrome browser
driver=webdriver.Chrome('chromedriver.exe')

# Open the github HomePage
url='https://github.com/'
driver.get(url)

# Maximize the window
driver.maximize_window()

trending_Github=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a").get_attribute('href')
driver.get(trending_Github)

In [38]:
repository_title=[]
repository_description=[]
contibutors_count=[]
languages_used=[]


# Extracting Repository_title from xpath
try:
    for i in driver.find_elements_by_xpath('//span[@class="text-normal"]'):
        repository_title.append(i.text)
except NoSuchElementException:
    repository_title.append("-")


# Extracting Repository_description from xpath
try:
    for i in driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
        repository_description.append(i.text)
except NoSuchElementException:
    repository_description.append("-")

# Extracting Contibutors_count from xpath
try:
    for i in driver.find_elements_by_xpath('//*[@id="js-pjax-container"]//div[2]/a[2]'):
        contibutors_count.append(i.text)
except NoSuchElementException:
    contibutors_count.append("-")

# Extracting Languages_used from xpath
try:
    for i in driver.find_elements_by_xpath('//*[@id="js-pjax-container"]//span[1]/span[2]'):
        languages_used.append(i.text)
except NoSuchElementException:
    languages_used.append("-")
    
df=pd.DataFrame({'Repository Title':repository_title[0:22],
                 'Repository Description':repository_description[0:22],
                 'Contibutors Count':contibutors_count[1:23],
                 'Languages Used':languages_used[0:22]
                
                })
df

,Repository Title,Repository Description,Contibutors Count,Languages Used
0,LukeSmithxyz /,My dotfiles (deployed by LARBS),"1,127",Shell
1,AmruthPillai /,A one-of-a-kind resume builder that keeps your...,690,TypeScript
2,squad303 /,Colossal-AI: A Unified Deep Learning System fo...,27,JavaScript
3,hpcaitech /,A youtube-dl fork with additional features and...,165,Python
4,yt-dlp /,Collection of publicly available IPTV channels...,"1,569",Python
5,iptv-org /,SecLists is the security tester's companion. I...,"8,430",JavaScript
6,danielmiessler /,我的超迷你机械臂机器人项目。,"19,302",PHP
7,peng-zhihui /,Haptic input knob with software-defined endsto...,"1,244",C
8,scottbez1 /,A complete computer science study plan to beco...,33,C++
9,jwasham /,The open-source repo for docs.github.com,"57,999",JavaScript
10,github /,100+ open-source clones of popular sites like ...,"45,890",Python
11,GorvGoyl /,"A curated list of awesome Python frameworks, l...","1,213",Python
12,vinta /,Animation engine for explanatory math videos,"20,852",Shell
13,3b1b /,Run popular commandline tools within docker,"4,748",Shell
14,datastack-net /,This repository is my documenting repository f...,20,C
15,MichaelCade /,A new bootable USB solution.,337,Rust
16,ventoy /,A Python Interpreter written in Rust,"2,438",Rust
17,RustPython /,A web framework for Rust.,732,C++
18,SergioBenitez /,The user-friendly command line shell.,"1,174",Shell
19,fish-shell /,"Scripts to build your own IPsec VPN server, wi...","1,519",C
20,hwdsl2 /,Klipper is a 3d-printer firmware,"4,941",Ruby
21,Klipper3d /,"Your self-hosted, globally interconnected micr...","3,045",Rust

In [39]:
driver.close()

# Q6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
- Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [40]:
#Activate the Chrome browser
driver=webdriver.Chrome('chromedriver.exe')

# Open the billboard HomePage
url='https:/www.billboard.com/'
driver.get(url)

#Maximize the window
driver.maximize_window()

In [42]:
charts=driver.find_element_by_xpath('/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a').click()

In [43]:
top100=driver.find_element_by_xpath('/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a').click()

In [44]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

# Extracting Song name from xpath
try:
    for i in driver.find_elements_by_xpath('//ul/li[4]/ul/li[1]/h3'):
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append("-")
    
# Extracting Artist name from xpath
try:
    for i in driver.find_elements_by_xpath('//ul/li[4]/ul/li[1]/span'):
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append("-")
    
# Extracting Last week rank from xpath
try:
    for i in driver.find_elements_by_xpath('//ul/li[4]/ul/li[4]/span'):
        last_week_rank.append(i.text)
except NoSuchElementException:
    last_week_rank.append("-")
    
    
# Extracting Peak_rank from xpath
try:
    for i in driver.find_elements_by_xpath('//ul/li[4]/ul/li[5]/span'):
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append("-")
    
    

# Extracting Weeks_on_board from xpath
try:
    for i in driver.find_elements_by_xpath('//ul/li[4]/ul/li[6]/span'):
        weeks_on_board.append(i.text)
except NoSuchElementException:
    weeks_on_board.append("-")

In [41]:
df=pd.DataFrame({'Song Name':song_name,
                        'Artist Name':artist_name,
                        'Last Week Rank':last_week_rank,
                        'Peek Rank':peak_rank,
                        'Weeks on Board':weeks_on_board
                       })
df

,Song Name,Artist Name,Last Week Rank,Peek Rank,Weeks on Board
0,Heat Waves,Glass Animals,2,1,59
1,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,10
2,abcdefu,GAYLE,3,3,15
3,Super Gremlin,Kodak Black,5,4,17
4,Stay,The Kid LAROI & Justin Bieber,6,1,34
...,...,...,...,...,...
95,Good Morning Gorgeous,Mary J. Blige,89,83,3
96,Don't Play That,King Von & 21 Savage,86,40,4
97,Closer,Saweetie Featuring H.E.R.,96,89,3
98,Come Back As A Country Boy,Blake Shelton,92,85,7
99,Rocking A Cardigan In Atlanta,Lil Shordie Scott,-,100,1

In [45]:
driver.close()

# Q7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

- A) Name
- B) Designation
- C) Company
- D) Skills they hire for
- E) Location
- Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [49]:
#Activate the Chrome browser
driver=webdriver.Chrome('chromedriver.exe')

# Open the github HomePage
url='https:/www.naukri.com/'
driver.get(url)

#Maximize the window
driver.maximize_window()

In [50]:
#serach the recruiters
search_recruiter=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_recruiter.send_keys('recruiters')

In [51]:
clickOnSearch=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]').click()

In [53]:
#Click on recruiters link
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [54]:
#Hit Search tab
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [55]:
# Click on search button
driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [56]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//a[@class="ellipsis"]/span'):
        name.append(i.text)
except NoSuchElementException:
    name.append("-")
    
# Extracting Designation from xpath
try:
    for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/span[1]'):
        designation.append(i.text)
except NoSuchElementException:
    designation.append("-")
    
# Extracting Company from xpath
try:
    for i in driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]'):
        company.append(i.text)
except NoSuchElementException:
    company.append("-")
    
    
# Extracting Location from xpath
try:
    for i in driver.find_elements_by_xpath('//span[2]'):
        location.append(i.text)
except NoSuchElementException:
    location.append("-")
    
# Extracting Skills from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
        skills.append(i.text)
except NoSuchElementException:
    skills.append("-")

#Check lengths of each column    
print(len(name))
print(len(designation))
print(len(company))
print(len(skills))
print(len(location))

50
50
50
50
50

In [57]:
#Create the Dataframe
df=pd.DataFrame({'Name':name,
                 'Designation':designation,
                 'Company':company,
                 'Skills they hire for':skills,
                 'Location':location   
})
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
20,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
24,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Hyderabad / Secunderabad
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Last active on 11-Mar-2019
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Bengaluru / Bangalore
48,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Hyderabad / Secunderabad
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",

In [58]:
driver.close()

# Q8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [62]:
#Activate the Chrome browser
driver=webdriver.Chrome('chromedriver.exe')

# Open the theguardian HomePage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

#Maximize the window
driver.maximize_window()

In [63]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]


# Extracting Book_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[2]'):
        book_name.append(i.text)
except NoSuchElementException:
    book_name.append("-")
    
# Extracting Author_name from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[3]'):
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append("-")
    
# Extracting Volumes_sold from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[4]'):
        volumes_sold.append(i.text)
except NoSuchElementException:
    volumes_sold.append("-")
    
    
# Extracting Publisher from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[5]'):
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append("-")
    
# Extracting Genre from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="embed block"]/table/tbody/tr/td[6]'):
        genre.append(i.text)
except NoSuchElementException:
    genre.append("-")

In [64]:
df=pd.DataFrame({'Book name':book_name,
                'Author name':author_name,
                'Volumes sold':volumes_sold,
                'Publisher':publisher,
                'Genre':genre})

df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [65]:
driver.close()

# Q9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [66]:
#Activate the Chrome browser
driver=webdriver.Chrome('chromedriver.exe')

# Open the imdb list HomePage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

#Maximize the window
driver.maximize_window()

In [67]:
name=[]
year=[]
votes=[]
genre=[]
ratings=[]
run_time=[]


# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a'):
        name.append(i.text)
except NoSuchElementException:
    name.append("-")
    
# Extracting Year Span from xpath
try:
    for i in driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]'):
        year.append(i.text)
except NoSuchElementException:
    year.append("-")
    
# Extracting Genre from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[5]'):
        genre.append(i.text)
except NoSuchElementException:
    genre.append("-")
    
# Extracting Run_time from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[3]'):
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append("-")

# Extracting Ratings from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]'):
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append("-")    

# Extracting Votes from xpath
try:
    for i in driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]'):
        votes.append(i.text)
except NoSuchElementException:
    votes.append("-")

In [68]:
df=pd.DataFrame({'Name':name,
                 'Year Span':year,
                 'Genre':genre,
                 'Run Time':run_time,                 
                 'Ratings':ratings,
                 'Votes':votes                
                })
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,963,709"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"971,876"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.3,"935,512"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"279,881"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.7,"240,032"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.6,"48,004"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,715"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.2,"186,684"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,556"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"223,187"

In [69]:
driver.close()

# Q10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year
- <strong>Note:</strong> - from the home page you have to go to the ShowAllDataset page through code

In [70]:
#Activate the Chrome browser
driver=webdriver.Chrome('chromedriver.exe')

# Open the archive.ics.uci.edu HomePage
url='https://archive.ics.uci.edu/'
driver.get(url)

#Maximize the window
driver.maximize_window()

In [71]:
# Go to ShowAllDataset by clicking on view all data sets 
driver.find_element_by_xpath("//span[@class='whitetext'][2]/a").click()

In [72]:
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
instance=[]
attribute=[]
year=[]

# Extracting Dataset name from xpath
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td/table/tbody/tr/td[2]/p/b"):
        dataset_name.append(i.text)
except NoSuchElementException:
    dataset_name.append("-")
    
    
# Extracting Data type from xpath
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]"):
        data_type.append(i.text)
except NoSuchElementException:
    data_type.append("-")
    
# Extracting Type from xpath
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]"):
        task.append(i.text)
except NoSuchElementException:
    task.append("-")
    
# Extracting Attribute Type from xpath
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]"):
        attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append("-")
    
# Extracting Instances from xpath
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]"):
        instance.append(i.text)
except NoSuchElementException:
    instance.append("-")
    
# Extracting Attribute from xpath
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]"):
        attribute.append(i.text)
except NoSuchElementException:
    attribute.append("-")
    
# Extracting Year from xpath
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]"):
        year.append(i.text)
except NoSuchElementException:
    year.append("-")
    
print (len(dataset_name))
print (len(data_type))
print (len(task))
print (len(attribute_type))
print (len(instance))
print (len(attribute))
print (len(year))

622
623
623
623
623
623
623

In [73]:
df=pd.DataFrame({'DataSet Name':dataset_name[0:622],
                'Data Type':data_type[1:623],
                 'Task':task[1:623],
                 'Attribute Type':attribute_type[1:623],
                 'No of Instances':instance[1:623],
                 'No of Attribute':attribute[1:623],
                 'Year':year [1:623]               
                })
df

,DataSet Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [74]:
driver.close()