## FLIGHT PRICE PREDICTION
Anyone who has booked a flight ticket knows how unexpectedly the prices vary. The cheapest available ticket on a given flight gets more and less expensive over time. This usually happens as an attempt to maximize revenue based on -

Time of purchase patterns (making sure last-minute purchases are expensive)
Keeping the flight as full as they want it (raising prices on a flight which is filling up in order to reduce sales and hold back inventory for those expensive last-minute expensive purchases) So, you have to work on a project where you collect data of flight fares with other features and work to make a model to predict fares of flights.
## STEPS
## 1. Data Collection
You have to scrape at least 1500 rows of data. You can scrape more data as well, it’s up to you, More the data better the model In this section you have to scrape the data of flights from different websites (yatra.com, skyscanner.com, official websites of airlines, etc). The number of columns for data doesn’t have limit, it’s up to you and your creativity. Generally, these columns areairline name, date of journey, source, destination, route, departure time, arrival time, duration, total stops and the target variable price. You can make changes to it, you can add or you can remove some columns, it completely depends on the website from which you are fetching the data.

##### COLUMNS:
##### airline name, date of journey, source, destination, route, departure time, arrival time, duration, total stops and the target variable price

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from time import sleep

import warnings
warnings.filterwarnings('ignore')

In [2]:
Airline_name = []
Date = []
arrival_time=[]
dep_time = []
source = []
destination=[]
duration = []
total_stops = []
price=[]

In [3]:
#loading web driver for June 9 Mumbai to Delhi
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=DEL&destinationCountry=IN&flight_depart_date=09%2F06%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=288596651391')
driver.maximize_window()

In [4]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [5]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [6]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(177, 177, 177, 177, 177, 177, 177, 177)

In [7]:
#9 June
df_Mum_Del = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'9 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Del

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
172,SpiceJet,9 June 2022,21:10,11:15,Mumbai,New Delhi,9h 55m,1 Stop,"17,703"
173,SpiceJet,9 June 2022,13:20,06:35,Mumbai,New Delhi,6h 45m,1 Stop,"17,950"
174,SpiceJet,9 June 2022,18:35,10:05,Mumbai,New Delhi,8h 30m,1 Stop,"19,307"
175,Go First,9 June 2022,16:15,10:50,Mumbai,New Delhi,5h 25m,1 Stop,"25,579"
176,Go First,9 June 2022,17:40,10:50,Mumbai,New Delhi,6h 50m,1 Stop,"26,313"

In [8]:
driver.close()

In [9]:
#loading web driver for Mumbai to banglore for 9 June
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=09%2F06%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=929972235941&version=1.1&viewName=normal')
driver.maximize_window()

In [10]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [11]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [12]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l2 = len(Airline_name)
    length_b=l2
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(327, 327, 327, 327, 327, 327, 327, 327)

In [13]:
#9 june
df_Mum_Banglore = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':"9 June 2022",'Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Banglore

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
322,Vistara,9 June 2022,21:50\n+ 1 day,20:55,Mumbai,Bangalore,24h 55m,2 Stop(s),"19,354"
323,IndiGo,9 June 2022,15:50,11:25,Mumbai,Bangalore,4h 25m,1 Stop,"19,646"
324,Vistara,9 June 2022,21:50,14:40,Mumbai,Bangalore,7h 10m,2 Stop(s),"21,034"
325,Vistara,9 June 2022,18:15,06:00,Mumbai,Bangalore,12h 15m,1 Stop,"21,431"
326,Air India,9 June 2022,16:15\n+ 1 day,11:15,Mumbai,Bangalore,29h 00m,2 Stop(s),"28,308"

In [14]:
driver.close()

In [15]:
#10 June Mumbai to Delhi
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=DEL&destinationCountry=IN&flight_depart_date=10%2F06%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1262170230229')
driver.maximize_window()

In [16]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [17]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [18]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l3 = len(Airline_name)
    length=l3
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(504, 504, 504, 504, 504, 504, 504, 504)

In [19]:
#10 june
df_Mum_Del = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':"10 June 2022",'Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Del

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,10 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,10 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,10 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,10 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,10 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
499,SpiceJet,10 June 2022,17:45,11:15,Mumbai,New Delhi,6h 30m,1 Stop,"18,333"
500,SpiceJet,10 June 2022,21:10,11:15,Mumbai,New Delhi,9h 55m,1 Stop,"18,333"
501,Go First,10 June 2022,20:10,11:30,Mumbai,New Delhi,8h 40m,1 Stop,"19,803"
502,Go First,10 June 2022,16:15,10:50,Mumbai,New Delhi,5h 25m,1 Stop,"22,113"
503,Go First,10 June 2022,17:40,10:50,Mumbai,New Delhi,6h 50m,1 Stop,"22,849"

In [20]:
driver.close()

In [21]:
#loading web driver
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BOM&originCountry=IN&destination=BLR&destinationCountry=IN&flight_depart_date=10%2F06%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1165353587064')
driver.maximize_window()

In [22]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [23]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [24]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l4 = len(Airline_name)
    length=l4
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(653, 653, 653, 653, 653, 653, 653, 653)

In [25]:
df_Mum_Banglore2 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Banglore2

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,10 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,10 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,10 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,10 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,10 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
648,Vistara,10 June 2022,21:50,14:40,Mumbai,Bangalore,7h 10m,2 Stop(s),"21,034"
649,Vistara,10 June 2022,21:50,11:55,Mumbai,Bangalore,9h 55m,2 Stop(s),"21,034"
650,Vistara,10 June 2022,21:50,10:25,Mumbai,Bangalore,11h 25m,2 Stop(s),"21,034"
651,Vistara,10 June 2022,21:50,07:30,Mumbai,Bangalore,14h 20m,2 Stop(s),"21,034"
652,Vistara,10 June 2022,18:15,06:00,Mumbai,Bangalore,12h 15m,1 Stop,"22,743"

In [26]:
driver.close()

In [27]:
#loading web driver
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=11%2F06%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=440453109773&version=1.1&viewName=normal')
driver.maximize_window()

In [28]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [29]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [30]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l5 = len(Airline_name)
    length=l5
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(825, 825, 825, 825, 825, 825, 825, 825)

In [31]:
df_Mum_Delhi3 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'11 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Delhi3

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,11 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,11 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,11 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,11 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,11 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
820,SpiceJet,11 June 2022,21:10,10:05,Mumbai,New Delhi,11h 05m,1 Stop,"20,321"
821,SpiceJet,11 June 2022,18:35,10:05,Mumbai,New Delhi,8h 30m,1 Stop,"21,581"
822,SpiceJet,11 June 2022,13:20,06:45,Mumbai,New Delhi,6h 35m,1 Stop,"22,525"
823,Go First,11 June 2022,16:15,10:50,Mumbai,New Delhi,5h 25m,1 Stop,"26,209"
824,Go First,11 June 2022,17:40,10:50,Mumbai,New Delhi,6h 50m,1 Stop,"26,209"

In [32]:
driver.close()

In [33]:
#Mumbai to Banglore 11 June
#loading web driver
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=11%2F06%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=286597326343&version=1.1&viewName=normal')
driver.maximize_window()

In [34]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [35]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [36]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l6 = len(Airline_name)
    length=l6
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(975, 975, 975, 975, 975, 975, 975, 975)

In [37]:
df_Mum_Banglore3 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'11 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Banglore3

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,11 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,11 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,11 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,11 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,11 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
970,Go First,11 June 2022,08:35\n+ 1 day,22:30,Mumbai,Bangalore,10h 05m,1 Stop,"21,542"
971,Go First,11 June 2022,08:35\n+ 1 day,21:50,Mumbai,Bangalore,10h 45m,1 Stop,"21,542"
972,Vistara,11 June 2022,21:50,10:25,Mumbai,Bangalore,11h 25m,2 Stop(s),"21,874"
973,Vistara,11 June 2022,18:15,06:00,Mumbai,Bangalore,12h 15m,1 Stop,"22,113"
974,Air India,11 June 2022,16:15\n+ 1 day,11:15,Mumbai,Bangalore,29h 00m,2 Stop(s),"28,413"

In [38]:
driver.close()

# Banglore- Mumbai

In [39]:
#loading web driver
#11 June
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=11%2F06%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=127301725361&version=1.1&viewName=normal')
driver.maximize_window()

In [40]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [41]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [42]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(1129, 1129, 1129, 1129, 1129, 1129, 1129, 1129)

In [43]:
df_Banglore_Mum = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'11 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Banglore_Mum

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,11 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,11 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,11 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,11 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,11 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
1124,Vistara,11 June 2022,17:40,11:30,Bangalore,Mumbai,6h 10m,1 Stop,"20,704"
1125,Air India,11 June 2022,16:25\n+ 1 day,10:00,Bangalore,Mumbai,30h 25m,2 Stop(s),"20,844"
1126,Air India,11 June 2022,16:25\n+ 1 day,17:00,Bangalore,Mumbai,23h 25m,2 Stop(s),"21,768"
1127,Air India,11 June 2022,16:25\n+ 1 day,13:20,Bangalore,Mumbai,27h 05m,2 Stop(s),"21,768"
1128,Vistara,11 June 2022,22:20,11:30,Bangalore,Mumbai,10h 50m,1 Stop,"28,999"

In [ ]:
driver.close()

In [44]:
#loading web driver
#10 June
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=10%2F06%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=272338209164&version=1.1&viewName=normal')
driver.maximize_window()

In [45]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [46]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [47]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(1279, 1279, 1279, 1279, 1279, 1279, 1279, 1279)

In [48]:
df_Banglore_Mum2 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Banglore_Mum2

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,10 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,10 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,10 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,10 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,10 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
1274,Vistara,10 June 2022,23:30,17:45,Bangalore,Mumbai,5h 45m,1 Stop,"20,284"
1275,Vistara,10 June 2022,16:30,07:45,Bangalore,Mumbai,8h 45m,2 Stop(s),"20,738"
1276,IndiGo,10 June 2022,14:30,06:35,Bangalore,Mumbai,7h 55m,1 Stop,"20,967"
1277,Vistara,10 June 2022,21:55,11:30,Bangalore,Mumbai,10h 25m,1 Stop,"21,019"
1278,Vistara,10 June 2022,22:20,11:30,Bangalore,Mumbai,10h 50m,1 Stop,"22,909"

In [49]:
driver.close()

In [50]:
#loading web driver
#9 June
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=09%2F06%2F2022&hb=0&noOfSegments=1&origin=BLR&originCountry=IN&type=O&unique=1285015046213&version=1.1&viewName=normal')
driver.maximize_window()

In [51]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [52]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [53]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(1432, 1432, 1432, 1432, 1432, 1432, 1432, 1432)

In [54]:
df_Banglore_Mum3 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'9 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Banglore_Mum3

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
1427,Air India,9 June 2022,16:25\n+ 1 day,21:20,Bangalore,Mumbai,19h 05m,2 Stop(s),"19,290"
1428,Air India,9 June 2022,16:25\n+ 1 day,17:00,Bangalore,Mumbai,23h 25m,2 Stop(s),"19,290"
1429,Air India,9 June 2022,16:25\n+ 1 day,13:20,Bangalore,Mumbai,27h 05m,2 Stop(s),"19,290"
1430,Air India,9 June 2022,19:15,06:10,Bangalore,Mumbai,13h 05m,2 Stop(s),"19,635"
1431,Vistara,9 June 2022,22:20,11:30,Bangalore,Mumbai,10h 50m,1 Stop,"20,862"

In [55]:
driver.close()

# Mumbai - Delhi

In [56]:
#loading web driver
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=09%2F06%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=868252829041&version=1.1&viewName=normal')
driver.maximize_window()

In [57]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [58]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [59]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(1609, 1609, 1609, 1609, 1609, 1609, 1609, 1609)

In [60]:
df_Mum_Delhi = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'9 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Delhi

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
1604,SpiceJet,9 June 2022,21:10,11:15,Mumbai,New Delhi,9h 55m,1 Stop,"17,703"
1605,SpiceJet,9 June 2022,13:20,06:35,Mumbai,New Delhi,6h 45m,1 Stop,"17,950"
1606,SpiceJet,9 June 2022,18:35,10:05,Mumbai,New Delhi,8h 30m,1 Stop,"19,307"
1607,Go First,9 June 2022,16:15,10:50,Mumbai,New Delhi,5h 25m,1 Stop,"25,579"
1608,Go First,9 June 2022,17:40,10:50,Mumbai,New Delhi,6h 50m,1 Stop,"26,313"

In [61]:
driver.close()

In [62]:
#loading web driver
#10 June
driver = webdriver.Chrome('chromedriver.exe') 
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=10%2F06%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1381184119700&version=1.1&viewName=normal')
driver.maximize_window()

In [63]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [64]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [65]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l8 = len(Airline_name)
    length=l8
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(1786, 1786, 1786, 1786, 1786, 1786, 1786, 1786)

In [66]:
df_Mum_Delhi2 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Delhi2

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,10 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,10 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,10 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,10 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,10 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
1781,SpiceJet,10 June 2022,17:45,11:15,Mumbai,New Delhi,6h 30m,1 Stop,"18,333"
1782,SpiceJet,10 June 2022,21:10,11:15,Mumbai,New Delhi,9h 55m,1 Stop,"18,333"
1783,Go First,10 June 2022,20:10,11:30,Mumbai,New Delhi,8h 40m,1 Stop,"19,803"
1784,Go First,10 June 2022,16:15,10:50,Mumbai,New Delhi,5h 25m,1 Stop,"22,113"
1785,Go First,10 June 2022,17:40,10:50,Mumbai,New Delhi,6h 50m,1 Stop,"22,849"

In [67]:
driver.close()

In [68]:
#loading web driver
#11 June
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=11%2F06%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=793862637855&version=1.1&viewName=normal')
driver.maximize_window()

In [69]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [70]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [71]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l9 = len(Airline_name)
    length=l9
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(1958, 1958, 1958, 1958, 1958, 1958, 1958, 1958)

In [72]:
df_Mum_Delhi3 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'11 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Mum_Delhi3

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,11 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,11 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,11 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,11 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,11 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
1953,SpiceJet,11 June 2022,21:10,10:05,Mumbai,New Delhi,11h 05m,1 Stop,"20,321"
1954,SpiceJet,11 June 2022,18:35,10:05,Mumbai,New Delhi,8h 30m,1 Stop,"21,581"
1955,SpiceJet,11 June 2022,13:20,06:45,Mumbai,New Delhi,6h 35m,1 Stop,"22,525"
1956,Go First,11 June 2022,16:15,10:50,Mumbai,New Delhi,5h 25m,1 Stop,"26,209"
1957,Go First,11 June 2022,17:40,10:50,Mumbai,New Delhi,6h 50m,1 Stop,"26,209"

In [73]:
driver.close()

# Chennai-Kochi

In [74]:
#loading web driver
#9 June
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=COK&destinationCountry=IN&flexi=0&flight_depart_date=09%2F06%2F2022&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=1095279809949&version=1.1&viewName=normal')
driver.maximize_window()

In [75]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [76]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [77]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016)

In [78]:
df_Chennai_Kochi = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'9 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Chennai_Kochi

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
2011,Vistara,9 June 2022,08:40\n+ 1 day,17:15,Chennai,Kochi,15h 25m,1 Stop,"23,683"
2012,Vistara,9 June 2022,19:10,09:45,Chennai,Kochi,9h 25m,2 Stop(s),"24,074"
2013,Vistara,9 June 2022,19:10,07:00,Chennai,Kochi,12h 10m,2 Stop(s),"24,074"
2014,Vistara,9 June 2022,19:10,07:00,Chennai,Kochi,12h 10m,2 Stop(s),"24,074"
2015,Vistara,9 June 2022,19:10,07:00,Chennai,Kochi,12h 10m,2 Stop(s),"24,074"

In [79]:
driver.close()

In [81]:
#loading web driver
#11 June
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=COK&destinationCountry=IN&flexi=0&flight_depart_date=11%2F06%2F2022&hb=0&noOfSegments=1&origin=MAA&originCountry=IN&type=O&unique=1506990724168&version=1.1&viewName=normal')
driver.maximize_window()

In [82]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [83]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [84]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l11 = len(Airline_name)
    length=l11
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(2075, 2075, 2075, 2075, 2075, 2075, 2075, 2075)

In [85]:
df_Chennai_Kochi2 = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Chennai_Kochi2

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,10 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,10 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,10 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,10 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,10 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
2070,Vistara,10 June 2022,19:10,07:00,Chennai,Kochi,12h 10m,2 Stop(s),"25,250"
2071,Vistara,10 June 2022,19:10,07:00,Chennai,Kochi,12h 10m,2 Stop(s),"25,250"
2072,Vistara,10 June 2022,19:10,07:00,Chennai,Kochi,12h 10m,2 Stop(s),"25,250"
2073,Air India,10 June 2022,20:10,06:00,Chennai,Kochi,14h 10m,1 Stop,"26,308"
2074,Air India,10 June 2022,20:10,09:55,Chennai,Kochi,10h 15m,1 Stop,"26,518"

In [87]:
driver.close()

In [86]:
df_Chennai_Kochi2.to_csv('flight_datas.csv')

# Kolkata - Delhi

In [88]:
#loading web driver
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=DEL&destinationCountry=IN&flexi=0&flight_depart_date=09%2F06%2F2022&hb=0&noOfSegments=1&origin=CCU&originCountry=IN&type=O&unique=1064340135954&version=1.1&viewName=normal')
driver.maximize_window()

In [89]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [90]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [91]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(2226, 2226, 2226, 2226, 2226, 2226, 2226, 2226)

In [ ]:
df_Kolkata_Delhi = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'9 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Kolkata_Delhi

In [94]:
driver.close()

In [ ]:
df_Kolkata_Delhi.to_csv('flight_datas.csv')

# Ahmedabad - Mumbai

In [3]:
#loading web driver
#10 June
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=AMD&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=10%2F06%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1206341387608')
driver.maximize_window()

In [4]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [5]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [6]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(89, 89, 89, 89, 89, 89, 89, 89)

In [7]:
df_Ahm_Mum = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Ahm_Mum

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Vistara,10 June 2022,06:15,05:05,Ahmedabad,Mumbai,1h 10m,Non Stop,"4,863"
1,IndiGo,10 June 2022,00:20\n+ 1 day,23:25,Ahmedabad,Mumbai,0h 55m,Non Stop,"5,586"
2,IndiGo,10 June 2022,05:30,04:25,Ahmedabad,Mumbai,1h 05m,Non Stop,"5,586"
3,Go First,10 June 2022,10:20,09:05,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
4,Go First,10 June 2022,15:00,13:45,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
...,...,...,...,...,...,...,...,...,...
84,Vistara,10 June 2022,22:20,08:30,Ahmedabad,Mumbai,13h 50m,2 Stop(s),"20,426"
85,Vistara,10 June 2022,22:20,06:45,Ahmedabad,Mumbai,15h 35m,2 Stop(s),"21,014"
86,Go First,10 June 2022,14:20,05:45,Ahmedabad,Mumbai,8h 35m,1 Stop,"21,634"
87,Vistara,10 June 2022,20:15,08:30,Ahmedabad,Mumbai,11h 45m,2 Stop(s),"26,062"
88,Vistara,10 June 2022,19:00,08:30,Ahmedabad,Mumbai,10h 30m,2 Stop(s),"28,215"

In [ ]:
driver.close()

# Hyderabad - Chennai

In [8]:
#loading web driver
#10 June
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=10%2F06%2F2022&hb=0&noOfSegments=1&origin=HYD&originCountry=IN&type=O&unique=453409932967&version=1.1&viewName=normal')
driver.maximize_window()

In [9]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [10]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [11]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(187, 187, 187, 187, 187, 187, 187, 187)

In [12]:
df_Hyderabad_Chennai = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Hyderabad_Chennai

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Vistara,10 June 2022,06:15,05:05,Ahmedabad,Mumbai,1h 10m,Non Stop,"4,863"
1,IndiGo,10 June 2022,00:20\n+ 1 day,23:25,Ahmedabad,Mumbai,0h 55m,Non Stop,"5,586"
2,IndiGo,10 June 2022,05:30,04:25,Ahmedabad,Mumbai,1h 05m,Non Stop,"5,586"
3,Go First,10 June 2022,10:20,09:05,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
4,Go First,10 June 2022,15:00,13:45,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
...,...,...,...,...,...,...,...,...,...
182,Vistara,10 June 2022,19:50,10:10,Hyderabad,Chennai,9h 40m,2 Stop(s),"23,832"
183,Vistara,10 June 2022,20:15,11:35,Hyderabad,Chennai,8h 40m,2 Stop(s),"25,793"
184,Vistara,10 June 2022,23:05,13:25,Hyderabad,Chennai,9h 40m,2 Stop(s),"26,948"
185,Vistara,10 June 2022,23:05,13:25,Hyderabad,Chennai,9h 40m,2 Stop(s),"27,998"
186,Air India,10 June 2022,07:25\n+ 1 day,16:10,Hyderabad,Chennai,15h 15m,2 Stop(s),"28,313"

In [13]:
driver.close()

# Kochi - Chennai

In [14]:
#loading web driver
#10 June
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=10%2F06%2F2022&hb=0&noOfSegments=1&origin=COK&originCountry=IN&type=O&unique=1076625178551&version=1.1&viewName=normal')
driver.maximize_window()

In [15]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [16]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [17]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(241, 241, 241, 241, 241, 241, 241, 241)

In [18]:
df_Kochi_Chennai = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Kochi_Chennai

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Vistara,10 June 2022,06:15,05:05,Ahmedabad,Mumbai,1h 10m,Non Stop,"4,863"
1,IndiGo,10 June 2022,00:20\n+ 1 day,23:25,Ahmedabad,Mumbai,0h 55m,Non Stop,"5,586"
2,IndiGo,10 June 2022,05:30,04:25,Ahmedabad,Mumbai,1h 05m,Non Stop,"5,586"
3,Go First,10 June 2022,10:20,09:05,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
4,Go First,10 June 2022,15:00,13:45,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
...,...,...,...,...,...,...,...,...,...
236,Air India,10 June 2022,19:15\n+ 1 day,20:30,Kochi,Chennai,22h 45m,2 Stop(s),"23,227"
237,Vistara,10 June 2022,23:05,09:15,Kochi,Chennai,13h 50m,2 Stop(s),"24,045"
238,Vistara,10 June 2022,23:05,09:15,Kochi,Chennai,13h 50m,2 Stop(s),"24,045"
239,Vistara,10 June 2022,19:50,09:15,Kochi,Chennai,10h 35m,2 Stop(s),"25,746"
240,Vistara,10 June 2022,23:05,09:15,Kochi,Chennai,13h 50m,2 Stop(s),"28,169"

In [19]:
driver.close()

# Patna - Lucknow

In [20]:
#loading web driver
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=LKO&destinationCountry=IN&flexi=0&flight_depart_date=10%2F06%2F2022&hb=0&noOfSegments=1&origin=PAT&originCountry=IN&type=O&unique=1160596078303&version=1.1&viewName=normal')
driver.maximize_window()

In [21]:
last_height = driver.execute_script("return document.documentElement.scrollHeight")

In [22]:
while True:
    # Scroll down 'till "next load".
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")

    # Wait to load everything thus far.
    time.sleep(2)

    # Calculate new scroll height and compare with last scroll height.
    new_height = driver.execute_script("return document.documentElement.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

    # One last scroll just in case.
driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
sleep(2)

In [23]:
#airline tags
try:
    #tag = driver.find_elements_by_xpath('//div/div[1]/div[1]/div/div[2]/span')
    tag = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
    for i in tag:
        Airline_name.append(i.text)
        
    l1 = len(Airline_name)
    length=l1
except:
    Airline_name.append('Nan')

#Airline_name
#len(Airline_name)


#departure time
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
    for i in tag:
        dep_time.append(i.text)
except:
    dep_time.append('Nan')


#arrival time
try:
    tag = driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
    for i in tag:
        arrival_time.append(i.text)
except:
    arrival_time.append('Nan')


#source
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
    for i in tag:
        source.append(i.text)
except:
    source.append('Nan')

#destination
try:
    tag = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
    for i in tag:
        destination.append(i.text)
except:
    destination.append('Nan') 

#total stops

try:
    tag = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
    for i in tag:
        total_stops.append(i.text)
except:
    total_stops.append('Nan')

#Price
try:
    tag = driver.find_elements_by_xpath('//div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in tag:
        price.append(i.text)
        
except:
    price.append('Nan')
    

#duration
try:
    tag = driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
    for i in tag:
        duration.append(i.text)
        
except:
    duration.append('Nan')
    
len(Airline_name),len(arrival_time),len(dep_time),len(source),len(destination),len(duration),len(total_stops),len(price)

(264, 264, 264, 264, 264, 264, 264, 264)

In [24]:
df_Patna_Lucknow = pd.DataFrame({'Airline Name':Airline_name, 'Departure Date':'10 June 2022','Arrival Time':arrival_time,'Departure Time':dep_time, 'Source':source, 'Destination':destination,'Duration':duration,'Total Stops':total_stops,'Price':price})
df_Patna_Lucknow

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Vistara,10 June 2022,06:15,05:05,Ahmedabad,Mumbai,1h 10m,Non Stop,"4,863"
1,IndiGo,10 June 2022,00:20\n+ 1 day,23:25,Ahmedabad,Mumbai,0h 55m,Non Stop,"5,586"
2,IndiGo,10 June 2022,05:30,04:25,Ahmedabad,Mumbai,1h 05m,Non Stop,"5,586"
3,Go First,10 June 2022,10:20,09:05,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
4,Go First,10 June 2022,15:00,13:45,Ahmedabad,Mumbai,1h 15m,Non Stop,"5,586"
...,...,...,...,...,...,...,...,...,...
259,Air India,10 June 2022,13:25\n+ 1 day,09:15,Patna,Lucknow,28h 10m,3 Stop(s),"17,963"
260,Air India,10 June 2022,13:20\n+ 1 day,19:10,Patna,Lucknow,18h 10m,2 Stop(s),"22,842"
261,Air India,10 June 2022,13:20\n+ 1 day,19:10,Patna,Lucknow,18h 10m,2 Stop(s),"22,842"
262,Air India,10 June 2022,13:20\n+ 1 day,16:00,Patna,Lucknow,21h 20m,2 Stop(s),"23,577"
263,Air India,10 June 2022,13:20\n+ 1 day,16:00,Patna,Lucknow,21h 20m,2 Stop(s),"23,577"

In [26]:
df = pd.read_csv('flight_datas.csv')
df

,Unnamed: 0,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...,...
2221,2221,Vistara,9 June 2022,13:25\n+ 1 day,20:35,Kolkata,New Delhi,16h 50m,2 Stop(s),"23,614"
2222,2222,Vistara,9 June 2022,13:25\n+ 1 day,17:35,Kolkata,New Delhi,19h 50m,2 Stop(s),"23,614"
2223,2223,Vistara,9 June 2022,13:25\n+ 1 day,17:35,Kolkata,New Delhi,19h 50m,2 Stop(s),"23,614"
2224,2224,Vistara,9 June 2022,09:55\n+ 1 day,10:25,Kolkata,New Delhi,23h 30m,2 Stop(s),"23,614"
2225,2225,Vistara,9 June 2022,09:55\n+ 1 day,10:25,Kolkata,New Delhi,23h 30m,2 Stop(s),"23,614"

In [29]:
df.drop(columns='Unnamed: 0', inplace=True)

In [31]:
df.head(5)

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"

In [32]:
df_Patna_Lucknow.head(2)

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Vistara,10 June 2022,06:15,05:05,Ahmedabad,Mumbai,1h 10m,Non Stop,"4,863"
1,IndiGo,10 June 2022,00:20\n+ 1 day,23:25,Ahmedabad,Mumbai,0h 55m,Non Stop,"5,586"

In [36]:
import pandas as pd
df_flightData=pd.concat((df,df_Patna_Lucknow), ignore_index=True)
df_flightData

,Airline Name,Departure Date,Arrival Time,Departure Time,Source,Destination,Duration,Total Stops,Price
0,Air India,9 June 2022,19:10,15:25,Mumbai,New Delhi,3h 45m,1 Stop,"7,308"
1,Go First,9 June 2022,20:05,18:00,Mumbai,New Delhi,2h 05m,Non Stop,"8,042"
2,Go First,9 June 2022,02:20,00:10,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
3,Go First,9 June 2022,11:35,09:25,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
4,Go First,9 June 2022,13:10,11:00,Mumbai,New Delhi,2h 10m,Non Stop,"8,042"
...,...,...,...,...,...,...,...,...,...
2485,Air India,10 June 2022,13:25\n+ 1 day,09:15,Patna,Lucknow,28h 10m,3 Stop(s),"17,963"
2486,Air India,10 June 2022,13:20\n+ 1 day,19:10,Patna,Lucknow,18h 10m,2 Stop(s),"22,842"
2487,Air India,10 June 2022,13:20\n+ 1 day,19:10,Patna,Lucknow,18h 10m,2 Stop(s),"22,842"
2488,Air India,10 June 2022,13:20\n+ 1 day,16:00,Patna,Lucknow,21h 20m,2 Stop(s),"23,577"
2489,Air India,10 June 2022,13:20\n+ 1 day,16:00,Patna,Lucknow,21h 20m,2 Stop(s),"23,577"

In [39]:
df_flightData.to_csv('flight_datas.csv')